@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-noto), sans-serif!important;
}

.hero {
  background: linear-gradient(300deg, #000000, #14213d, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.background {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 10;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: animate 10s linear infinite;
}

.background li:nth-child(0) {
  right: 13%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  right: 47%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  right: 88%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 2s;
}
.background li:nth-child(3) {
  right: 5%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 7s;
}
.background li:nth-child(4) {
  right: 79%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 14s;
}
.background li:nth-child(5) {
  right: 85%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 13s;
}
.background li:nth-child(6) {
  right: 68%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 24s;
}
.background li:nth-child(7) {
  right: 28%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 12s;
}
.background li:nth-child(8) {
  right: 68%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 32s;
}
.background li:nth-child(9) {
  right: 69%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 35s;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateY(-200px) rotate(360deg);
    opacity: 0.3;
  }
  100% {
    transform: translateY(-400px) rotate(720deg);
    opacity: 0;
  }
}
