.main {
  position: relative;
  /* margin-top: 50vh; */
}

.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  margin-bottom: 100px;
}

.cardContainer .card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -25%;
  height: 500px;
  width: 100%;
  /* border-radius: 25px; */
  padding: 50px;
  transform-origin: top;
  /* border-top: 0.1px solid #393632; */
  color: #d1d1c7;
}

.cardContainer .card h2 {
  margin: 0px;
  font-size: 28px;
}

.cardContainer .card .body {
  display: flex;
  height: 100%;
  margin-top: 50px;
  gap: 50px;
}

.cardContainer .card .body .description {
  width: 40%;
  position: relative;
  top: 10%;
}

.cardContainer .card .body .description p {
  font-size: 16px;
}

.cardContainer .card .body .description p::first-letter {
  font-size: 28px;
  font-family: "Title";
}

.cardContainer .card .body .description span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardContainer .card .body .description span a {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.cardContainer .card .body .imageContainer {
  position: relative;
  width: 60%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.cardContainer .card .body .imageContainer .inner {
  width: 100%;
  height: 100%;
  margin-left: auto;
}

.cardContainer .card .body .imageContainer img {
  object-fit: cover;
}

.vid {
  box-shadow: 5px 5px 10px -1px rgba(#000000, 0.4);
}

.model::before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: -5;
  width: 60%;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(5px);
  z-index: -1;
}
